__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Ignore virtual environment directories
venv/
env/
.env


# postgresql://postgres1:P8o0hZnGgHsnGSSSRq7ghwBMSwtIrt98@dpg-d74d1otactks738ct630-a/studyzone_postgres
